*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100%;
}

.siseve{
    z-index: -1;
    display: flex;
    justify-content: center;

    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    position: absolute;
}
