* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 100px;
}
body {
    background: url(../img/fondolibro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    row-gap: 1rem;
}

.libreria {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 20px;
    height: 90%;
    max-width: min-content;
    background-color: #e2b655;
    border: 2px solid #b88b4a;
    border-radius: 8px;
    transform: rotateZ(180deg);
}

.libro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;              
    height: 150px; 
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    writing-mode: vertical-rl; 
    text-orientation:sideways; 
}

.terror {
    background-color: #8b0000;
    transform: rotate(-5deg);
}

.comedia {
    background-color: #ffd700;
    height: 120px;
}

.historia {
    background-color: #228b22;
    transform: rotate(3deg);
}

.ciencia-ficcion {
    background-color: #1e90ff;
    height: 180px;
}

.matematica {
    background-color: #6a5acd;
    transform: rotate(-8deg);
}

.lengua {
    background-color: #ff4500;
    height: 140px;
}

.libro:not(.terror):not(.comedia):not(.historia):not(.ciencia-ficcion):not(.matematica):not(.lengua) {
    background-color: #c0c0c0;
}
