.contenedor{
    display: flex;
    position: relative;
    top: 60px;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display: grid;
    width: 500px;
    background-color: rgb(179, 134, 67);
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    row-gap: 10px;
}

.grid-container div{
    width: 100%;
    height: 140px;
    background-color: brown;
    text-align: center;
    color: white;    
    position: relative;
    border: 1px solid black;
}

.torcido {
    transform: rotateZ(30deg);
    position: relative;
    right: 4rem;
    margin: 0 2rem;
}

.tortor {   
    width: 140px !important;
    height: 50px !important;
    transform: rotateZ(-90deg);
    transform: translate(-100%);
}