body{
    background: url(../img/fondolibro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    row-gap: 1rem;
}

h1{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
}

h2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    
} 

h5{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
}

.siseve {
    width: 60%;
}

.container{
    background-image: url(../img/utiles.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
    align-items: center;
    position: relative;
} 

.Preguntas{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    height: 30%;
    width: 40%;
    position: relative;
    top: 5rem;
   
}   


