body{
    background: url(../img/fondolibro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    row-gap: 1rem;
}

h1{
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

h2{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;  
} 

h5{
    align-items: center;
    justify-content: center;
    display: flex;
}

.container{
    margin-top: 5%;
    background-image: url(../img/utiles.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70%;
    width: 75%;
    margin-bottom: 20%;
} 

.Preguntas{
    display: flex;   
    justify-content: center;
    flex-direction: column;
    border: solid black;
    width: 50%;
}