body{
    background: url(../img/fondolibro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    row-gap: 1rem;
}

.titulo{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.card-title{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    
} 

.letra{
    align-items: center;
    justify-content: center;
    display: flex;


}

.container{
    background-image: url(../img/AAFiuq2BQEA_1730463270411.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 1000px;
    width: 800px;
} 

/* .dividido1{
   margin-left: 100px; 
    display: flex;
}

.dividido2{
    margin-left: 100px;
    display: flex;
} */
