* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #dcdaf5;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
}

#logo{
    height: 90%;
    width: auto;
}

.navbar{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* margin: 0 auto;  */
    z-index: 1; 
    padding: 0 1rem;    
}

.navbar .nombreUsuario {
    color: rgb(99, 127, 167);
    font-weight: 600;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s;
}

.navbar .opciones {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar .opciones a {
    color: rgb(145, 170, 206);
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar .opciones a:hover {
    color: #5d7ce2;
    font-weight: bolder;
    font-size: 18px;
}
